.holdingAssetImg {
    width: 2.5rem;
}

.assetColumn,
.assetColumn div {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 0.6rem 0;
}

.assetColumn div li {
    list-style: none;
}

.assetColumn div li:first-child {
    font-size: .8rem;
    font-weight: bold;
    color: rgba(49, 67, 83, 0.88);
}

.assetColumn div li:last-child {
    font-size: .8rem;
    font-style: oblique;
    color: rgba(63, 81, 98, 0.88);
    font-weight: 300;
    font-family: 'IBM Plex Sans', sans-serif;
}

.holdingsTable th {
    color: chocolate;
    font-size: 1.3rem;
    font-weight: 700;
    font-family: 'IBM Plex Sans', sans-serif;
    padding: .5rem 0;
    border-bottom: 1.5px solid cadetblue;
}

.holdingRows {
    margin: 2rem;
}

.holdingRows {
    border: 1px solid rgb(162, 162, 162);
}

#assetNameH {
    text-align: left;
    padding-left: 3rem;
}

.holdingsTable {
    margin-left: 5rem;
    width: 80%;
    text-align: center;
}

.AssetDown {
    background-color: hsl(0, 80%, 88%);
    color: hsl(0, 93%, 47%);
    padding: .5rem .3rem;
    border-radius: .4rem;
    width: 60%;
    text-align: center;
    margin: auto;
    display: flex;
}

.AssetUp {
    background-color: hsla(155, 100%, 82%, 0.829);
    color: hsl(150, 93%, 28%);
    padding: .5rem .3rem;
    width: 60%;
    margin: auto;
    border-radius: .4rem;
    text-align: center;
    display: flex;
}

.assetPriceIcon {
    font-size: 1.3rem;
    align-self: center;
}

@media only screen and (max-width: 900px) {

    .AssetUp,
    .AssetDown {
        width: 80%;
        align-items: center;
        border-radius: 0.2rem;
        margin: 0 0.4rem;
        padding: 0.1rem;
    }

    .holdingsTable {
        width: 90%;
        margin: auto;
    }

    @media only screen and (max-width: 600px) {
        .holdingAssetImg {
            width: 2rem;
        }

        .AssetUp,
        .AssetDown {
            width: 88%;
            font-size: .7rem;
            align-items: center;
            border-radius: 0.2rem;
            margin: 0 0.4rem;
            padding: 0.1rem;

        }

        .holdingsTable {
            margin: auto;
            width: 100%;
            overflow: clip;
        }

        .assetPriceIcon {
            font-size: 1.1rem;
            align-self: center;
        }

        .holdingsTable th {
            font-size: 1rem;
            font-weight: 500;
            padding: .3rem 0;
        }

        .removeTheRow {
            display: none;
        }

        .assetColumn,
        .assetColumn div {
            gap: .3rem;
            padding: 0.5rem 0;
        }

        .assetPrice,
        .assetHolding {
            font-size: .7rem;
        }
    }
}