.chart {
    margin: 2rem 0;
}

.btnDiv {
    display: flex;
    justify-content: space-between;
    margin: 2.5rem 1rem;
}

.btnDiv>div {
    background-color: rgb(199, 198, 198);
    border-radius: .3rem;
}

.btns {
    margin: .3rem;
    border: none;
    font-size: 1rem;
    padding: 3px;
    border-radius: .3rem;
    background-color: rgb(199, 198, 198);
    cursor: pointer;
}

.activeBtn {
    background-color: #f6f7f8e2;
}

.chart-container {
    width: 95%;
    height: 45%;
    position: relative;
    margin: auto;
}

@media only screen and (max-width: 900px) {
    .chart-container {
        height: 40vh;
    }

    .chart {
        margin: 2rem 0 0;
    }

    @media only screen and (max-width: 600px) {

        .chart-container {
            height: auto;
        }
    }
}